<!DOCTYPE html>

<head>
  <title>Sample Unicorn App</title>
</head>

<body>
  <div>
    <header>
      <h1>Sample Unicorn App</h1>
    </header>

    <div>
      <%= yield %>
    </div>

    <footer>
      <small>&copy; <%= Time.now.year %></small>
    </footer>
  </div>
</body>
